.launch-card{
    background-color: rgba($color: #000000, $alpha: .5);
    padding: 1rem;
    border-radius: 1rem;
}

.number{
    color: #f48c06;
    font-weight: bold;
    font-size: 2.5rem;
    margin-right: .5rem;
}

.name{
    font-size: 2rem;
}

.launch-image-holder{
    background-image: url(/assets/images/generic_launch.jpg);
    height: auto;
    background-size: cover;
    width: 10rem;
    margin-left: 2rem;
    border-radius: .5rem;
    margin-right: .8rem;
    max-height: 15rem;

    img{
        width: 10rem;
        min-width: 10rem;
        min-height: 15rem;
        max-height: 15rem;
    }
}

a{
    margin-left: 1rem;
    color: white;
    text-decoration: none;
}