.launches{
    padding: 0 5rem;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: calc(100vh - 50px);
}

.max{
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}