.launch-info{
    position: absolute;
    height: 100vh;
    width: 40vw;
    background-color: white;
    top: 0;
    right: 0;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    padding: 1rem 2rem;
    color: #1F232A;
    font-size: 1rem;
}

.close{
    position: absolute;
    right: 1rem;
    font-size: 1.3rem;
    top: .5rem;
    cursor: pointer;
}

hr {
    height: 4px;
    background: red;
    outline: none;
    border: none;
    width: 50%;
    margin: .5rem 0;
}

.bold{
    font-weight: bold;
}